main.aux
main.fdb_latexmk
main.fls
main.log
main.out
main.synctex.gz
main.toc

section1.toc
section1.aux
section1.fdb_latexmk
section1.fls
section1.log
section1.out
section1.synctex.gz
section1.toc
section1.pdf

section2.toc
section2.aux
section2.fdb_latexmk
section2.fls
section2.log
section2.out
section2.synctex.gz
section2.toc
section2.pdf

section3.toc
section3.aux
section3.fdb_latexmk
section3.fls
section3.log
section3.out
section3.synctex.gz
section3.toc
section3.pdf

section4.toc
section4.aux
section4.fdb_latexmk
section4.fls
section4.log
section4.out
section4.synctex.gz
section4.toc
section4.pdf

section5.toc
section5.aux
section5.fdb_latexmk
section5.fls
section5.log
section5.out
section5.synctex.gz
section5.toc
section5.pdf

sections/section1.pdf
sections/section2.pdf
sections/section3.pdf
sections/section4.pdf
sections/section5.pdf
